<header>
    <div class="container-fluid my-panel-header text-center">
      <app-panel-header></app-panel-header>
      <div class="row my-btn-group2" >
        <div class="col-2 siteTitleTool disabled text-right">
          <span class="fa fa-pencil" ></span>
        </div>
        <div class="col-8 text-center siteTitle">
            <span class="pointer siteTitle2">Artikel</span>
        </div>
        <div class="col-2 siteTitleTool disabled text-left">
            <span class="fa fa-plus"></span>
          </div>
      </div>
    </div>
  </header>
  <main>
    <div class="container" >
        <input type="search" class="form-control searchBox text-center"  placeholder="Suche..."   />
        <div style="height:21px"></div>
        <div class="text-center">
          <div class="btn-group my-btn-group">
			
              <button type="button" ng-disabled="readOnly" class="btn my-group-btn my-group-btn-on auto-width">Miete</button>
              <button type="button" ng-disabled="readOnly" class="btn my-group-btn my-group-btn-off auto-width">Verkauf</button>	
              <button type="button" ng-disabled="readOnly" class="btn my-group-btn my-group-btn-on auto-width">Inventar</button>
            
          </div>
        </div>  
        <br>
      <div class="text-center" >Nr:80416</div>
      <div class="title-bold text-center">NextFX Gerb2 1s8 silver</div>  
     <br>
     <div class="text-center">
       <img style="max-width:250px" src="data:image/png;base64,i
       VBORw0KGgoAAAANSUhEUgAAAw4AAAMOCAYAAAC3QlFNAAAACXBIWXMAAC
       4jAAAuIwF4pT92AAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHj
       anVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcER
       RUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89+bN/rXXPu
       es852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz/SMBA
       Ph+PDwrIsAHvgABeNMLCADATZvAMByH/w/qQplcAYCEAcB0kThLCIAUAEB6
       jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf+bTAICd+Jl7AQBblCEVAaC
       RACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyA
       AgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbC
       C1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA/g88wAAKCRFRHgg/P9eM4Or
       s7ONo62Dl8t6r8G/yJiYuP+5c+rcEAAAOF0ftH+LC+zGoA7BoBt/qIl7gRoX
       gugdfeLZrIPQLUAoOnaV/Nw+H48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl/AV
       /1s+X48/Pf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H/LcL//wd0yLES
       WK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s+wM+3zUAsGo+AXuRLahdY
       wP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93/+8//UegJQCAZkmScQAAXkQkLlT
       Ksz/HCAAARKCBKrBBG/TBGCzABhzBBdzBC/xgNoRCJMTCQhBCCmSAHHJgKayCQ
       iiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD/phCJ7BKLyBCQRByAgTYSHaiA
       FiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7
       yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq
       2gP2o8+Q8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8+xdw
       QSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR+cQY
       YjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI+ksqZs0SBo
       jk8naZGuyBzmULCAryIXkneTD5DPkG+Qh8lsKnWJAcaT4U+IoUspqShnlEOU05Q
       ZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr
       +h0uhHdlR5Ol9BX0svpR+iX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK+YTKYZ04s
       Zx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI+pXl
       N9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q/pH5Z/YkGWcNMw09DpFGgs
       V/jvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY/R27iz2qqaE5QzNKM1ezUvOU
       Zj8H45hx+Jx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTa
       u7aedpr1Fu1n7gQ5Bx0onXCdHZ4/OBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd7
       9up+6Ynr5egJ5Mb6feeb3n+hx9L/1U/W36p/VHDFgGswwkBtsMzhg8xTVxbzwd
       L8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTep
       N7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm+eb15vft2BaeFostqi2uGVJsu
       RaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZs
       OXYBtuutm22fWFnYhdnt8Wuw+6TvZN9un2N/T0HDYfZDqsdWh1+c7RyFDpWOt6a
       zpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc+Lps
       bxt3IveRKdPVxXeF60vWdm7Obwu2o26/uNu5p7ofcn8w0nymeWTNz0MPIQ+BR5d
       E/C5+VMGvfrH5PQ0+BZ7XnIy9jL5FXrdewt6V3qvdh7xc+9j5yn+M+4zw33jLeWV
       /MN8C3yLfLT8Nvnl+F30N/I/9k/3r/0QCngCUBZwOJgUGBWwL7+Hp8Ib+OPzrbZf
       ay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4
       WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo+qi5qPNo3ujS6P8Y
       uZlnM1VidWElsSxw5LiquNm5svt/87fOH4p3iC+N7F5gvyF1weaHOwvSFpxapLhIs
       OpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi/RNtGI2ENcKh5O8kgqTXqS7JG8
       NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z+pn5mZ2y
       6xlhbL+xW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a/zYnKOZarnivN7c
       yzytuQN5zvn//tEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3
       VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1+1dT1gvWd+1YfqGnRs+FYmKr
       hTbF5cVf9go3HjlG4dvyr+Z3JS0qavEuWTPZtJm6ebeLZ5bDpaql+aXDm4N2dq0Dd9
       WtO319kXbL5fNKNu7g7ZDuaO/PLi8ZafJzs07P1SkVPRU+lQ27tLdtWHX+G7R7ht7v
       PY07NXbW7z3/T7JvttVAVVN1WbVZftJ+7P3P66Jqun4lvttXa1ObXHtxwPSA/0HIw
       6217nU1R3SPVRSj9Yr60cOxx++/p3vdy0NNg1VjZzG4iNwRHnk6fcJ3/ceDTradox
       7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w+0dbq3nr8R9sfD5w0PFl5SvNUyWna
       6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb++6EHTh0kX/i+c7vDvOXPK4dPKy2+
       UTV7hXmq86X23qdOo8/pPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb/1tWe
       OT3dvfN6b/fF9/XfFt1+cif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v+3Njv3H9qwH
       eg89HcR/cGhYPP/pH1jw9DBY+Zj8uGDYbrnjg+OTniP3L96fynQ89kzyaeF/6i/suu
       FxYvfvjV69fO0ZjRoZfyl5O/bXyl/erA6xmv28bCxh6+yXgzMV70VvvtwXfcdx3vo9
       8PT+R8IH8o/2j5sfVT0Kf7kxmTk/8EA5jz/GMzLdsAADv2aVRYdFhNTDpjb20uYWRv
       YmUueG1wAAAAAAA8P3hwYWNrZXQgYmVnaW49Iu+7vyIgaWQ9Ilc1TTBNcENlaGlIe
       nJlU3pOVGN6a2M5ZCI/Pgo8eDp4bXBtZXRhIHhtbG5zOng9ImFkb2JlOm5zOm1ldGEv
       IiB4OnhtcHRrPSJBZG9iZSBYTVAgQ29yZSA1LjYtYzEzOCA3OS4xNTk4MjQsIDIwMTY
       vMDkvMTQtMDE6MDk6MDEgICAgICAgICI+CiAgIDxyZGY6UkRGIHhtbG5zOnJkZj0iaH
       R0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyI+CiAgICAgID
       xyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiCiAgICAgICAgICAgIHhtbG5zOnhtcD
       0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyIKICAgICAgICAgICAgeG1sbnM6eG
       1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iCiAgICAgICAgICAgIH
       htbG5zOnN0RXZ0PSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3V
       yY2VFdmVudCMiCiAgICAgICAgICAgIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGM
       vZWxlbWVudHMvMS4xLyIKICAgICAgICAgICAgeG1sbnM6cGhvdG9zaG9wPSJodHRwOi8
       vbnMuYWRvYmUuY29tL3Bob3Rvc2hvcC8xLjAvIgogICAgICAgICAgICB4bWxuczp0aWZ
       mPSJodHRwOi8vbnMuYWRvYmUuY29tL3RpZmYvMS4wLyIKICAgICAgICAgICAgeG1sbnM
       6ZXhpZj0iaHR0cDovL25zLmFkb2JlLmNvbS9leGlmLzEuMC8iPgogICAgICAgICA8eG1w
       OkNyZWF0b3JUb29sPkFkb2JlIFBob3Rvc2hvcCBDQyAyMDE3IChNYWNpbnRvc2gpPC94b
       XA6Q3JlYXRvclRvb2w+CiAgICAgICAgIDx4bXA6Q3JlYXRlRGF0ZT4yMDE3LTA4LTMwVD
       EyOjI5OjAyKzAyOjAwPC94bXA6Q3JlYXRlRGF0ZT4KICAgICAgICAgPHhtcDpNZXRhZGF
       0YURhdGU+MjAxNy0wOC0zMFQxMjozMzoxNCswMjowMDwveG1wOk1ldGFkYXRhRGF0ZT4K
       ICAgICAgICAgPHhtcDpNb2RpZnlEYXRlPjIwMTctMDgtMzBUMTI6MzM6MTQrMDI6MDA8L3
       htcDpNb2RpZnlEYXRlPgogICAgICAgICA8eG1wTU06SW5zdGFuY2VJRD54bXAuaWlkOjg
       5NDVhMjNhLTIxNjUtNDc1Yy1iZWQ1LWVlOTg5Zjc1NjcxODwveG1wTU06SW5zdGFuY2VJ
       RD4KICAgICAgICAgPHhtcE1NOkRvY3VtZW50SUQ+YWRvYmU6ZG9jaWQ6cGhvdG9zaG9wOj
       cwOTMwMzhiLWNkZmMtMTE3YS1hNGM0LWM0ZWJhYTY5ZGIzMTwveG1wTU06RG9jdW1lbnRJR
       D4KICAgICAgICAgPHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD54bXAuZGlkOmQyNTg0MjM
       zLWFhZTAtNDRjMS1hZDZlLWZlNTk3NzA5Yzk0NDwveG1wTU06T3JpZ2luYWxEb2N1bWVudE
       lEPgogICAgICAgICA8eG1wTU06SGlzdG9yeT4KICAgICAgICAgICAgPHJkZjpTZXE+CiAgI
       CAgICAgICAgICAgIDxyZGY6bGkgcmRmOnBhcnNlVHlwZT0iUmVzb3VyY2UiPgogICAgICAg
       ICAgICAgICAgICA8c3RFdnQ6YWN0aW9uPmNyZWF0ZWQ8L3N0RXZ0OmFjdGlvbj4KICAgICA
       gICAgICAgICAgICAgPHN0RXZ0Omluc3RhbmNlSUQ+eG1wLmlpZDpkMjU4NDIzMy1hYWUwLT
       Q0YzEtYWQ2ZS1mZTU5NzcwOWM5NDQ8L3N0RXZ0Omluc3RhbmNlSUQ+CiAgICAgICAgICAgI
       CAgICAgIDxzdEV2dDp3aGVuPjIwMTctMDgtMzBUMTI6Mjk6MDIrMDI6MDA8L3N0RXZ0Ondo
       ZW4+CiAgICAgICAgICAgICAgICAgIDxzdEV2dDpzb2Z0d2FyZUFnZW50PkFkb2JlIFBob3Rv
       c2hvcCBDQyAyMDE3IChNYWNpbnRvc2gpPC9zdEV2dDpzb2Z0d2FyZUFnZW50PgogICAgICAg
       ICAgICAgICA8L3JkZjpsaT4KICAgICAgICAgICAgICAgPHJkZjpsaSByZGY6cGFyc2VUeXBl
       PSJSZXNvdXJjZSI+CiAgICAgICAgICAgICAgICAgIDxzdEV2dDphY3Rpb24+c2F2ZWQ8L3N0
       RXZ0OmFjdGlvbj4KICAgICAgICAgICAgICAgICAgPHN0RXZ0Omluc3RhbmNlSUQ+eG1wLmlp
       ZDphYzMxYjMyMi1lNWVjLTRhOWQtYmU2YS05OTFhMmYwMGM4MWQ8L3N0RXZ0Omluc3RhbmNlS
       UQ+CiAgICAgICAgICAgICAgICAgIDxzdEV2dDp3aGVuPjIwMTctMDgtMzBUMTI6Mjk6MDIrMDI
       6MDA8L3N0RXZ0OndoZW4+CiAgICAgICAgICAgICAgICAgIDxzdEV2dDpzb2Z0d2FyZUFnZW50
       PkFkb2JlIFBob3Rvc2hvcCBDQyAyMDE3IChNYWNpbnRvc2gpPC9zdEV2dDpzb2Z0d2FyZUFnZW
       50PgogICAgICAgICAgICAgICAgICA8c3RFdnQ6Y2hhbmdlZD4vPC9zdEV2dDpjaGFuZ2VkPgog
       ICAgICAgICAgICAgICA8L3JkZjpsaT4KICAgICAgICAgICAgICAgPHJkZjpsaSByZGY6cGFyc2
       VUeXBlPSJSZXNvdXJjZSI+CiAgICAgICAgICAgICAgICAgIDxzdEV2dDphY3Rpb24+c2F2ZWQ8L
       3N0RXZ0OmFjdGlvbj4KICAgICAgICAgICAgICAgICAgPHN0RXZ0Omluc3RhbmNlSUQ+eG1wLmlp
       ZDo4OTQ1YTIzYS0yMTY1LTQ3NWMtYmVkNS1lZTk4OWY3NTY3MTg8L3N0RXZ0Omluc3RhbmNlSUQ
       +CiAgICAgICAgICAgICAgICAgIDxzdEV2dDp3aGVuPjIwMTctMDgtMzBUMTI6MzM6MTQrMDI6MD
       A8L3N0RXZ0OndoZW4+CiAgICAgICAgICAgICAgICAgIDxzdEV2dDpzb2Z0d2FyZUFnZW50PkFkb2
       JlIFBob3Rvc2hvcCBDQyAyMDE3IChNYWNpbnRvc2gpPC9zdEV2dDpzb2Z0d2FyZUFnZW50PgogIC
       AgICAgICAgICAgICAgICA8c3RFdnQ6Y2hhbmdlZD4vPC9zdEV2dDpjaGFuZ2VkPgogICAgICAgIC
       AgICAgICA8L3JkZjpsaT4KICAgICAgICAgICAgPC9yZGY6U2VxPgogICAgICAgICA8L3htcE1NOkh
       pc3Rvcnk+CiAgICAgICAgIDxkYzpmb3JtYXQ+aW1hZ2UvcG5nPC9kYzpmb3JtYXQ+CiAgICAgICAg
       IDxwaG90b3Nob3A6Q29sb3JNb2RlPjM8L3Bob3Rvc2hvcDpDb2xvck1vZGU+CiAgICAgICAgIDxwa
       G90b3Nob3A6SUNDUHJvZmlsZT5zUkdCIElFQzYxOTY2LTIuMTwvcGhvdG9zaG9wOklDQ1Byb2ZpbG
       U+CiAgICAgICAgIDx0aWZmOk9yaWVudGF0aW9uPjE8L3RpZmY6T3JpZW50YXRpb24+CiAgICAgICA
       gIDx0aWZmOlhSZXNvbHV0aW9uPjMwMDAwMDAvMTAwMDA8L3RpZmY6WFJlc29sdXRpb24+CiAgICA
       gICAgIDx0aWZmOllSZXNvbHV0aW9uPjMwMDAwMDAvMTAwMDA8L3RpZmY6WVJlc29sdXRpb24+CiA
       gICAgICAgIDx0aWZmOlJlc29sdXRpb25Vbml0PjI8L3RpZmY6UmVzb2x1dGlvblVuaXQ+CiAgICA
       gICAgIDxleGlmOkNvbG9yU3BhY2U+MTwvZXhpZjpDb2xvclNwYWNlPgogICAgICAgICA8ZXhpZjp
       QaXhlbFhEaW1lbnNpb24+NzgyPC9leGlmOlBpeGVsWERpbWVuc2lvbj4KICAgICAgICAgPGV4aWY
       6UGl4ZWxZRGltZW5zaW9uPjc4MjwvZXhpZjpQaXhlbFlEaW1lbnNpb24+CiAgICAgIDwvcmRmOkRl
       c2NyaXB0aW9uPgogICA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgogICAgICAgICAgICAgICAgICAgI
       CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA
       gICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
       ICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
       CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA
       gICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgI
       CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA
       gICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
       CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
       ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
       ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
       ICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
       CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAg
       ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA
       gICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
       CAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
       CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICA
       gICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
       CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA
       gICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA
       gICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
       ICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
       CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA
       gICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
       ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
       CAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICA
       gICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
       CAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA
       gICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKI
       CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA
       gICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgI
       CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA
       gICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
       CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAg
       ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA
       gICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
       CAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
       CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgI
       CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
       ICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA
       gICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCi
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
       CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAg
       ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA
       gICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA
       gICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICA
       gICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA
       gICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA
       gICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA
       gIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA
       gICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICA
       gICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
       ICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
       ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgI
       CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA
       KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
       CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA
       gICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
       ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgI
       CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA
       gICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAg
       ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
       ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
       CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAg
       ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA
       gICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgI
       CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
       CAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
       CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgI
       CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA
       gICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAg
       ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
       ICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
       ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgI
       CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
       CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
       CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
       AogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
       CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
       CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
       CAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICA
       gICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
       ICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICA
       gICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
       CAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
       ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICA
       gICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA
       gICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA
       gICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
       ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgI
       CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAg
       ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
       ICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
       CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAg
       ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogI
       CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
       ICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
       ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
       ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgI
       CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA
       gICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
       ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgI
       CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCi
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA
       gICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA
       gICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA
       gICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICA
       gICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
       ICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
       ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAg
       ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
       ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAg
       ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
       CAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA
       gICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
       CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICA
       gICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
       CAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA
       gICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
       CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICA
       gICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
       ICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
       CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICA
       gICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
       ICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
       CAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC
       AgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICA
       gICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAg
       ICAgICAgICAgICAgICAgICAgICAgIAo8P3hwYWNrZXQgZW5kPSJ3Ij8+Ky1bgQAAACBjSFJNAAB6JQAAgIMAAPn/AACA6QAAdTAAAOpgA
       AA6mAAAF2+SX8VGAAAcjUlEQVR42uzdQY7cxrJAUVWj1uWJV+RNaGpoQZ54Y+VBQ0BLLpJJMsmMyDhn/IGP1ypGxBWr5cf3H69vAIQ3+7
       B++CMGiO3pRwAgBBL+PIQGgHAAEAV0+RmLCwDhACAOOPVnJCoAhAOAOEBUAAgHAIHAmM+DoACEA4CjEA59dsQEIBwARAKICQDhAIgEEBM
       AwgEQCSAmAIQD4OiC2T7XQgIQDgBCAYQEIBwAhAIICUA4AIgFCPbMiAhAOABCAdj9PAkJQDgAYgHY9ayJCEA4AEIB2P0cCglAOABiAdj1
       jIoIQDgAYgEQEYBwAMQCICIA4QCIBUBEAMIBEAuAiACEAyAWABEBCAdALACICBAOgGAAODRHBAQIB0AsAOyaLSIChAMgGACa542AAOEAi
       AWAXTNIRIBwAAQDQPNcEhAgHACxALBrVokIEA6AYABonl8CAoQDIBgABAQIB0AsAFwz40QECAdAMAA0zz0BAcIBEAwAAgKEAyAYAAQECA
       dALAAMnpUiAoQDCAYAmuengADhAIIBAAEBwgEEAwACAoQDIBgABAQIB0AwAAgIEA6AYAAQEIBwAMEAICAA4QCCAQABAcIBBAMAAgKG+PA
       jANEAYJYDW7xxAEsGoPpc9/YBhAMIBgAEBAgHEAwACAgQDiAYABAQEINfjgbRAICdAJu8cQDLAYDt/eDtA8LBjwALAQAEBGzxVSUsAQCw
       O2CTNw4Y+gBwbI94+4BwAMEAAAICvvJVJUQDANgxsMkbBwxzAOi3b7x9QDiAYAAAAYFwANEAvDt2PE9wfBeJB4QDCAYIc9hn///nuaXCX
       hIQCAcQDZA2CLL97/aMk31HiQeEAwgGEAYBfn5mAVn2lVmAcADRAA6CoD97s4Jou8usQDiAYMCRSqI/L7OE0XvMLEE4gGhAICAooGmnmT
       MIBxAMiAQm+iyYQVy938wghAOIBkQCYgKadp3ZhHAAwYBQoMDnysyi194zsxAOIBoQCggJaNqB5hjCAQQDQgEhAc370HxDOIBoQCwgJKB
       pN5p3CAewQBEK+EybgYgHhAMIBsQCiAj67ktzEeGAaAALEd4+B2Ylv38ezEqEA6IBRxKw+oyYnYgHhAOCAbEAiAh271PzFOGAaEAsACKCp
       t1qviIcEA2IBUBEIB4QDggGBANw3fNn/tbct+YvwgHRgFgADj+T5nGt3WseIxwQDYgFQEQgHhAOCAYEA3Df82te19jH5jXCAdGAWAC6Pd
       Pm99y72fymiw8/AkQDDceFpQOec+xoivPGAQOJpSMCqP3sm+3z7WqzHeGAYEAwAJfNA7N+vr1t1nOIryohGvi5RCwSwHyww0E4YODgIADM
       C+xyjvNVJQyamssfoMcMsRPy73Q7gWbeOCAaai17CwIwV7DbOcQbBwyVGosd4I45Y1/k3vP2Bau8cUA0zL3ILQHA3MHORzhggGBxA+YQdj
       /CAYMDixowl3ADIBwwMLCYAXMKtwDCAYMCixjA3HITIBwwILB4AcwxtwF1+OdYMRRyLVqAGeeaPZTjTrCHivPGAcM6x2I1rAFzDjcDwgED
       gNVlCmDm4XZAOODBZ3F5WqCA+YcbAuGABx4LE8A8dEsgHPCgY0ECmI9uCoQDHnA6L0UAzEq3BcIBDzaLS9AiBDA33RgIBzzQWHwA5qhbA
       +GAB5ljyw4AM9XNgXDAA8zicrPgAMxXtwfCAQ8uFhqAeYsbRDjggeXYEgPA7HWLIBzwoLK4tCwuAHPYTYJwwAPK6rICwEzGbSIc8GCyuJ
       wsKADzGTeKcMADyepSAsCsxq0iHPAgsriELCIAcxs3i3DAA8jq8gHADMftIhzw4LG4bCwcAPMcN4xwwAPH6pIBwGzHLSMc8KCxuFQsFgB
       zHjeNcMADxuoyAcDMx20jHPwIPFgsLg8LBMD8x42DcPBAsbo0ALALcOsgHDxIWBQA2AluHoSDB4hjy8GCAMB+cPsgHDw4rC4FALAr3EAI
       Bw8MFgEAdoZbCOHgQeHY8LcAALA/3EQIBw8Iq0MfAOwStxHCAQx6AOwUEA6KGgMeALvFjYRw8EBwwVA32AGwZ9xKCAcPAqvDHADsHDcTw
       sEDgAEOgN3jdkI4+OBjcANgB+GGEg4+8FwwrA1sAOwjtxTCwQed1SENAHaTmwrhAAYzAHYUCAdljIEMgF2F20o4+GBjEANgZ+HGEg74QN
       89fA1gAOwv3FrCwQeZ1aELAHYZbi7h4AOMQQuAnYbbSziAAQsAdhvCAcVrsAKAHecGEw74wBqoAGDXucWEAz6oBikA2HluMoSDD6gBCgB
       2n9sM4YDBCQB2IAgHRWtgAoBdiBtNOPhAlh+SBiUA2ItuNeHgg8jqcAQA7Eg3m3AAAxEA7EqEg3LFIAQAO9PtJhzwwTMAAcDudMMJB3zgD
       D4AsEPdcggHDDwAsEtBOChUgw4A7FTcdMLBB8yAAwDsVredcPDBMtgAADvWjSccMND8CADArkU4KFEMMgCwc916wsEHyY/AAAMAu9fNJx
       zwAQIAwO0nHBjE33gAgB2McFCcGFgAYBe7AYUDPjAGFQDYyW5BhAMGFADYzSAcFKbBBADY0W5C4eADYiABAHa121A4YBABAHY2wkFRGkAAg
       N3tRhQOPhAGDwBgh7sVhQMYOABglyMcFCQAALgZhYMPwGn+hgIA7HS3o3AAAwYA7HYQDorRYAEA7Hg3pHDwB26gAAB2vVtSOGCQAAB2PsJBI
       QIA4KYUDv6A8/E3DwBg9+O2LBkOGBwAgBsA4aAIDQwAwC3gxhQOGBQAgJsA4aAEAQBwawoHf5Dx+ZsFAMBt4OYsGw4YDACAGwHhULv8DAQAw
       K3g9hQOGAQAgJsB4aD4AABwgwoHf2Dx+ZsDAMDt4BYtHQ548AEANwTCoV7heeABALeEm1Q4AAAAwkHZheJvCAAAN4XbtHQ4iAYPOADgtnCjC
       gc82ACAGwPhoOQAAJjTFLeqNw7+JgAAwK1BiXDwtsGDDAC4OdyswgEAABAOxctN+QMAbo8yUt+u3jh4cAEA3CBMHQ7eNgAA4IYVDqJB6QMAb
       hHxIBzwoAIAbhKEg0IDAIB5blpvHJQ9AIDbhOnCwdsGDyYA4EaZRarb1hsHAABgqnDwtkHJAwBuldmkuXG9cfAgAgC4WZgmHLxtAABgVilu
       XW8clDsAgNuFKcLB2wYPHgDghpld+JvXGwcAACB9OHjboNQBALdMFaFvX28cAACA1OHgbYNCBwDcNNWEvYG9cfCAAQC4bUgbDt42AABQVch
       b2BsHRQ4A4MYhZTh42wAAQHXhbmJvHJQ4AIBbB+HgQQIAcPMwXzj4mhIAAAS8jb1xUN4AAG4fUoWDtw0AABD0RvbGQXEDALiBSBMO3jYAAE
       DgW9kbB6UNAOAWIkU4eNvgQQEAcBMFv5m9cQAAAISDsgYAcBtNYuhbh4/K/+MBAIAc4YCiBgBwIwmHVd42AABAkhv66WevpBHFAHYrCf487
       dfBRr1x8AcPAACJbmm/4xCjoAEAcDOFJhwAAICQ4eBrSsoZAMDtlOym9sYBAAAIFw7eNihmAAA3VMLb2hsHAABAOChlAAC3FLnCwdeUAAAg
       6Y3tjYNCBgBwUxEmHLxtAACAxLe2Nw7KGADAbYVwAAAAcoSDrykpYgAAN1bym9sbBwAAYHg4eNughAEA3Fr3uPT29sYBAAAQDgAAQOxw8DW
       lT16dAQC4ue5y2Q3ujQMAACAclC8AgNuLuOHga0oAADDGJbe4Nw6KFwDADYZwAAAAYoaDrykBAMBY3W9ybxyu4RUZAIBbbCrCAQAAuD0cfE1
       J4QIAuMli6Hqbe+MAAAAIBwAAIFY4+JqSV2IAAG6zWLrd6N44AAAAwkHRAgC40YgTDr6mBAAAMXW51b1xAAAAhMNNvAIDAHCrCYcNvqYEAAC
       xnb7ZvXEAAACEww28+gIAcLMJBwAAgLPhUP33G5QrAIDbLYtTt7s3DgAAgHAAAADGhoOvKQEA4IbL5fAN740DAAAgHAAAAOEwiq8pAQC45Y
       RDg5cfHQAApHTolvfGAQAAEA4X8GoLAMBNJxwa+JoSAADktvum98YBAAAQDp15pQUA4LYTDgAAAD3Cwe83AADAHHbd9t44AAAAwqEj34EDA
       HDjCQcAAIAe4eD3GwAAYC7NN743Dm28wgIAcOuVJhwAAIBNTz8C6Ovff/72txYAg/3x519+CNDZ4/uPpq81Vf/9BocgAMD8Kt+8m/euryqJ
       BgAA2CQcAAAA4QAAAAiHq/maEgCA24/GcPAffgMAgLlt3vzeOAAAAJuEAwAAIBxO8B03AAA3IMIBAADoFQ5+MRoAAGp4nQkHAAAA4bDAd9sA
       ANyCCAcAAEA4AAAAt4WDX4wGAIBaXkfCoSrfaQMAwE0oHAAAAOEAAAAIBwAAIE44+MVoAACo6bUnHKrySzAAALgNhQMAACAcAAAA4QAAAAg
       HAAAgUThU/ReV/PILAABuxIUm8MYBAADYJBwAAADhAAAACAcAAEA4AAAAwiEO/6ISAABuxR3h8PIjAQAAfm8DbxwAAIBNwgEAABAOAACAcA
       AAAITDLfyWPAAAbkbhAAAA9AwH/xQrAADw7V0jeOMAAABsEg4AAIBwAAAAhAMAACAcLuefYgUAwO0oHAAAAOEAAAAIBwAAIFY4+I+/AQAA7
       7y+hgMAAMAi4QAAAAgHAABAOJzhv+EAAIAbUjgAAADCAQAAEA4AAIBwAAAAEnn6EUB3/oOKAOP5R1CgM28cAAAA4QAAAPQJB1+rAAAA1ry8c
       QAAADZVDQe/MAUAgFtSOAAAAMIBAAAQDgAAgHAAAACEAwAAIBwAAADhAAAAIBwAAADhAAAACAcAAEA4AAAAwgEAABAOAACAcAAAAIQDAACAc
       AAAAIQDAAAgHAAAAOEAAAAIBwAAQDgAAADCAQAAEA4AAADC4VcPf+wAALgphQMAACAcAAAA4QAAAAiHAF7+2AEAcFMKBwAAQDgAAADCAQAAE
       A4AAIBwAAAAhAMAACAcAAAAhAMAACAcAAAA4QAAAAgHAABAOAAAAMIBAAAQDgAAgHAAAAAQDgAAgHAAAACEAwAAIBwAAADhAAAACAcAAEA4A
       AAAwgEAAEA4vPXyRw8AgFtSOAAAAJ3D4eHHAAAArHh44wAAAGwSDgAAwKanHwF05+t/AMB0vHEAAACEAwAAIBwAAADhAAAACIex/NejAQBwQ
       woHAABAOAAAAMIBAACIFw7+g1UAAMA7j6/hAAAAsEg4AAAAwgEAABAOZ/lvOQAA4HYUDgAAgHAAAACEAwAAIBwAAICE4eA/AgcAAHx71wje
       OAAAAJuEg3+SFQAAN6NwAAAAhAMAACAcAAAA4QAAAKQMB/8kKwAA8L828Mbhk39ZCQAAt+IK4QAAAAgHAABAOAAAAMIBAAAQDgAAQNpwqPpPs
       vpteQAA3IgLTeCNAwAAsEk4AAAAwgEAABAOAACAcLidX5AGAMBtuCMcHn40AABQ0mNPOAAAAAgHAABAOAAAAMLhUn4JBgAAN+GOcPAL0gAAU
       MvjSDgAAAAIBwAAQDic4TttAABuQYQDAADQMxz8gjQAANTwOBMOAAAAwmGF77YBALgBEQ4AAIBwAAAAbg0HvyANAABz27z5vXFY5ztuAABuP
       4QDAAAgHAAAAOFwE6+sAAAQDo3/d35BGgCAmVX+y+KmW//pMwIGD0DVQwho56tKAACAcOjE3yADALj1hEMjr/wAAGAuzTe+Nw4AAIBw6MgrL
       AAAN55wAAAA6BUOfs8BAADmsOu298YBAAAQDp35DhwAgNtOOAAAAPQKB7/nAAAAue2+6b1x2M8rLQAAN105wgEAALgsHHxdCQAAcjp0y3vjc
       IxXWwAAbrlShAMAACAcAACAseFQ/fccvOICAHDDZXP4hvfGAQAAEA4AAMD4cPB1JQAA3G45nLrdvXEAAACEg3IFAMDNJhwAAIAk4fDwYwQA
       gNBO3+zeOPTh1RcAgFttasIBAAC4LRx8XQkAAGLqcqt749CPV2AAAG60aQkHAADg1nDwdSVFCwDgNoul243ujQMAACAcAACAeOHg60peiQEAu
       Mli6Hqbe+MAAAAIB4ULAOAWI2Y4+LoSAACM1f0m98YBAAAQDgN5RQYA4AYTDht8XQkAAMa45Bb3xkHxAgC4vRAOAABA7HDwdSXlCwDg5rrXZT
       e4Nw4AAIBwUMAAAG4t4oeDrysBAMA9Lr29vXEAAABChIO3Dp+8QgMAcGOlvbm9cQAAAISDIgYAcFuRJxx8XQkAABLf2t44KGMAADcVocLBWwc
       AAEh6Y3vjoJABANxSCAcAACBfOPi6klIGAHBDJbytvXEAAABChoO3DooZAMDtlOym9sYBAAAQDsoZAMDNRN5w8HUlAABIdEs//dzDFLSY8jADA
       Mu3EoON/KqS4woAAJLc0H7HQUkDALiREA4AAED+cPB1JUUNAOA2SnA7e+MAAACkCAdvHZQ1AICbKPjN7I2DBwUAwC1EmnDw1gEAAALfyt44KG0A
       ADcQqcLBWwcAAAh6I3vjoLgBANw+pAsHbx0AACDgbeyNg/IGAHDzIBw8SAAAbh3mDAdfVwIAoLpwN7E3DkocAMCNQ9pw8NYBAICqQt7C3jgocgA
       Atw2pw8FbBw8YAOCmqSbsDeyNAwAAkD4cvHVQ6ACAW6aK0LevNw4AAMAU4eCtg1IHANwwswt/83rj4MEDAHC7ME04eOsAAMCsUty63jgodwAANw
       tThYO3Dh5EAMCtMps0N643DgAAwHTh4K2DkgcA3CizSHXbeuPgwQQAcJswZTh46wAAQHbpblpvHJQ9AICbhGnDwVsHDyoA4BbJKuUt++EHDgAAb
       tiZwwGlDwC4QRAOcxebBxcAcHuUk/p29cYBAAAoEQ7eOih/AMDN4WYVDniQAQC3BsJBwQEAMLcpblVvHPxNAACAG4NS4eCtgwcbAHBbuFGFg3jwg
       AMAbgq3qXAAAACEg7ILxd8QAABuCTdp+XDAAw8AuCEQDjULz4MPALgd3KLCwR8YAABuUOFAaP7mAABwM1A+HLx1MAgAALeC21M4YCAAAG4EhIPy
       MxgAALeBm1M4+IMEAMCtKRzIyd8sAABuAkqHg7cOBgUA4BZwYwoHDAwAwA2AcFCEBgcAYPe7LYWDP2AAANyUwoG8/M0DANj5UDYcvHUwSAAAu94t
       KRz8gRsoAIAd74YUDhgsAIDdjnBQjAYMAGCnux2Fgw8AAABuRuFAAf6GAgDscoSDgsTAAQA7HLeicPCBMHgAwO7GjSgcMIAAADsb4aAoDSIAwK5
       2GwoHHxADCQCwo92EwgGDCQCwmxEOChMDCgDsZLegcPCBwaACALvYDSgcwMACADsYhIPiBADA7SccfIDC8TceAGD3uvmEgw8SBhgA2LluPeEABhk
       A2LUgHJSogQYAdixuPOHgg2WwAYDdittOOPiAGXAAYKfiphMOGHQAgF2KcFCoGHgAYIe65YSDDxwGHwDYnW444YAPngEIAHam2004gEEIAHYlCAfl
       aiACgB3pZkM4+CDmHoyGIwDYi2414eADSfOgBAC7EDeacAADEwDsQISDosXgBAC7z20mHPABNUABwM5zkwkHfFANUgCw69xiCAcfWAMVAOw4NxjCA
       YMVAOw2EA6K14AFADsNt5dw8AHGoAXALsPNJRx8kOk4cA1dAOwv3FrCwQea5gEMAHaWGwvh4IONQQyAXYXbSjiAgQyAHQXCAWVsMANgN+GmEg74oE
       cc0IY0APaRWwrh4ANP88AGADvIDYVw8MHH4AbA7nE7IRw8ABjgANg5uJmEAx6Emwe5YQ6APeNWQjh4IGge7ABgt7iREA5gwANgp4BwUNQY9ADYJW4
       jhAMekJsHvqEPgP3hJkI4eFBoXgAAYGe4hRAOHhgsAgDsCjcQwsGDQ7+FYCkAYD+4fRAOHiCaFwQA2AluHoSDBwmLAgC7wK2DcPBA0W9hWBoA5j9uH
       ISDB4vmBQKAmY/bRjj4EXjAaFoklgmAOY+bRjjgQaN5sQBgtuOWEQ544GhaMJYMgHmOG0Y44MGjeeEAYIbjdhEOeABpWjyWD4C5jZtFOOBBpHkRAWB
       W41YRDnggaVpIlhKA+YwbRTjgwaR5QQFgJuM2EQ54QGlaVJYVgDnsJkE44EGleXEBYPa6RRAOeGBpWmCWGIB56wZBOODBxUIDMF9xewgHPMD0X3AAm
       KluDoQDHmSaFp1lB2COujUQDnigsfgAzE03BsIBDzb9FyEAZqXbAuGAB5ymhWgpApiPbgqEAx50LEgA89AtgXDAA4+FCWD+uSEQDnjwGbhAAcw83A4
       IBwwAmhapZQqYc7gZGOrpR8CXQWBox1+sBjcw41xDMJCANw4YDDkXrWULmGO4DRAOGBBYvIC5hZsA4YBBgUUMmFO4BRAOGBhYzADmkhsA4YDBgUUNY
       A7Z/QgHMEAsbgBzx86H3/nnWNkzSCyDvIvcQgDumDMIBibmjQMGS63FbrkD5gp2O4d448CRAWNJ5F/0FgbQY4YgGijEGwcMGgeAIwAwL+xyEA4YODgI
       APMBO5zzfFWJHoPHQpnrQLBUALNdMIBw4LJBZMHMezBYNCAWEA3gq0oYSDQdEo4J8JxjR1OcNw70HkwWz9yHhSUEcz7TiAYQDgwbUBZSjYPDQgLBgGB
       AOMDpgWU51TpALCkQC4gGhAOIB0QEiAVEA8IBrh9gFljNg8UCA8GAYEA4wO6BZpnVPmAsNRALiAaEA4gHRASIBUQDwgH6DzgLz8Fj6YFYQDAgHKBp4F
       mAiAgQC4gGhAOIB04fSJYjngMwFxEO8MsAtCjZOqAsS8QC9iUIB/D2ARGBWADRgHAA8cC1B5elilBANIBwoOiAtGAREggF7EMQDtA0MC1dhARCAdEA
       wgGaB6dljJBAKCAYQDhA0yC1oLn64LOwEQmIBhAOTDRQLW/EBCIBwQDCAZoGrKXO6APSohcIIBoQDpBo0Fr6CAoEAoIBhAM0DV4HAVkOVIeCOACzAOE
       AAQawowFRIQ5AMIBwgKaB7KigwkH8KPy/HUQDCAfoOpgdIoiMfgeO5wkEAwgHph7Ujh2IGSYgGkA4QMiB7QgCQDCAcAABAYBggDt8+BFgoAOAHQNbv
       HGg4mD39gEAwQDCAQQEAIIBevNVJQx+ALA7YJM3DlgAn7x9AEAwgHAAAQGAYIAzfFUJLAgA7ATY5I0DLC8Kbx8ABAMgHEBAACAYQDiAgABAMIBwAAEB
       gGCA+/jlaLBoAMxyYJM3DnBu4Xj7ACAYQDgAAgJAMADCAQQEgGAAhAMICADBAAgHEBAACAYQDiAgABAMIBxAQAAgGEA4AAICQDCAcAAEBIBgAOEADFi
       AIgJALIBwAJoXo4AAEAwgHAABASAYQDgAAgJAMIBwAAYvUhEBCAZAOADNy1VAAGIBEA6AgAAEAyAcgGsWsIgAxAIgHIDmxSwgAMEACAdg16IWEYBYAI
       QD0LzABQQgGADhAOxa6CICEAuAcACaF72AAAQDIByAXYtfRABiARAOgIgAxAIgHAARAYgFQDgAIgIQC4BwAEQEIBYA4QCICEAsAMIBQESAWACEA8CpA
       0VIgFAAhAPArgNGRIBYAIQDwO7DRkiAUACEA8Cuw0dEgFgAhAPA7oNISIBQAIQDgJAAoQAIBwAhAUIBEA4AQQ8uMYFIABAOAGICkQAgHADEBCIBQDgA
       iAlEAoBwAJj1IBQUPg8ACAeAUwekqBAHAMIBAFEhDgAQDgDjD1ZxIQoAhAMA3Q/fl58HACP9NwAe3Q/m8s2OggAAAABJRU5ErkJggg==">
      </div>
      <br>
      <div class="text-center">
          <div class="color-818181 bold" >Preis</div>
          <div class="bold">0 € Tag / 6.8 € VK</div>
          <div>3.8 x 1.86 x 1.86 mm</div>
          <div>0 kg Gewicht</div>
          <div><span class="color-818181 bold">Bestand Miete</span>&nbsp;<span class="color-ff9c01 bold" >0 Stück</span></div>
          <div><span class="color-818181 bold">Bestand Verkauf</span>&nbsp;<span class="color-ff9c01 bold" >0 Stück</span></div>
          <div style="height:17px;"></div>
          <div class="bold" >Artikelinformation</div>
          <div>
            Sicherheitsabstand seitlich 2m
            Sicherheitsabstand in Ausstoßrichtung 5m
          </div>
      </div>
      <br><br>
      <ngb-accordion  >
        <ngb-panel id="static-1" >
          <ng-template ngbPanelTitle>
              <div class="row">
                  <div class="col-4"></div>
                  <div class="col-4">Vorgänge</div>
                  <div class="col-4 text-right" style="font-family: myriad-set-pro-thin;">[3]&nbsp;&nbsp;<i class="fa fa-angle-right" ></i></div>
              </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <div class="row">
              <div class="col-4">1003-01</div>
              <div class="col-4 text-center">Mötley Crüe</div>
              <div class="col-4 text-right"></div>
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel >
          <ng-template ngbPanelTitle>
              <div class="row">
                  <div class="col-4"></div>
                  <div class="col-4 text-center">Lieferanten</div>
                  <div class="col-4 text-right" style="font-family: myriad-set-pro-thin;">[3]&nbsp;&nbsp;<i class="fa fa-angle-right" ></i></div>
              </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <div class="row">
              <div class="col-4">70024</div>
              <div class="col-4 text-center">MAGIC FX B.V</div>
              <div class="col-4 text-right"></div>
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel >
          <ng-template ngbPanelTitle>
              <div class="row">
                  <div class="col-4"></div>
                  <div class="col-4 text-center">Notizen</div>
                  <div class="col-4 text-right" style="font-family: myriad-set-pro-thin;"><i class="fa fa-angle-right" ></i></div>
              </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <div >
             hello
             
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
      
    </div>
  </main>